/* Grid breakpoints
   ========================================================================== */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1920px
) !default;

/* Fonts
   ========================================================================== */
$global-font: 'SFProText', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$global-font-size: 18px;

/* Colors
   ========================================================================== */

// Chancoin colors: (theres a couple more i think but meh)
// #60706C;
// #B5CC98;
// #88B580;
// #6D8775;
// #E8E5C0;

$color-navbar-bg: #E8E5C0;
$color-body-bg: #f8f8fa;
$color-primary: #B5CC98;
$color-primary-hover: #88B580;
$color-text: #868f9b;
$color-text-2: #2b2f36;
$color-purple: #b875f2;
$color-danger: #fc98a6;
$color-success: #90e9a3;
